
footer #divlinks{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: rgb(182, 177, 177);
    background-color: black;
    margin-top: 5px;
    padding: 10px;
    

}


footer #divwrite{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 10px;
   

}
h5{
    text-align:center ;
    border: double;
    padding: 10px;
    margin: 0% 10%;
    
}


footer a{
    text-decoration: none;
    color: greenyellow;
}
footer a:hover{
    color: cyan;
 text-shadow: 2px 0 2px 0 blue;
}
footer li{
    padding: 5px;
    list-style: square;
}
footer li:hover{
    color: red;
}
footer p{
    line-height: 25px;
}



#divlinks > div{
    padding: 5px 10px;
    border: solid gray 1px;
    text-align: right;
    width: 300px;
    margin: 10px 5px;
}

#nemad img{
    text-align: center;
    width: 60px;
    padding-top: 10px 0;
    margin-right: 20%;
}
#nemad{
    border-bottom: solid gray 1px;
}
#icon img{
    width: 30px;
    margin-right: 12%;
}








/*    css of top button    */

:root{       
    scroll-behavior: smooth;
}

#topbot{
    display: none;
    position: fixed; 
    bottom: 35px;
    right: 10px; 
    z-index: 80; 
    border: none; 
    outline: none; 
    background-color: blue; 
    color: white; 
    cursor: pointer; 
    padding: 7px; 
    border-radius: 10px;
    font-size: 30px; 
    font-weight: bold;
    box-shadow: black -3px 3px 5px; 
    transition-duration: 0.2s ;
}
#topbot:hover{
        background-color: rgb(0, 204, 204);
        border-radius: 0;
        box-shadow: none;
        border: solid 1px black;
}