footer div{
    display: block;
    text-align: left;
    color: rgb(182, 177, 177);
    background-color: black;
    margin-top: 5px;
    padding: 10px;

}
h4{
    text-align:center ;
    border-bottom: double;
}
footer a{
    text-decoration: none;
    color: greenyellow;
}
footer a:hover{
    color: cyan;
 text-shadow: 2px 0 2px 0 blue;
}
footer li{
    padding: 5px;
}
footer li:hover{
    color: red;
}




/*    css of top button    */

:root{       
    scroll-behavior: smooth;
}

#topbot{
    display: none;
    position: fixed; 
    bottom: 10px;
    right: 5px; 
    z-index: 90; 
    border: none; 
    outline: none; 
    background-color: blue; 
    color: white; 
    cursor: pointer; 
    padding: 7px; 
    border-radius: 10px;
    font-size: 30px; 
    font-weight: bold;
    box-shadow: black -3px 3px 5px; 
    transition-duration: 0.1s ;
}
#topbot:hover{
        background-color: rgb(0, 204, 204);
        border-radius: 0;
        box-shadow: none;
        border: solid 1px black;
}