.sidenav{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  direction: rtl;
   
  text-align: right;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 0;
  background-color:rgb(117, 117, 117);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  border-radius: 10px;
}

.sidenav li{
  margin: 0px 0px 10px 5px;
  color: #000;
  transition: 1.5s;  
}
.sidenav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: 1.5s;
}

.sidenav li:hover{
  color: #fff;
}
.sidenav a:hover {
  color: #000000;
}